body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444f7c;
}

h1 {
    font-size: xx-large;
    color: #feffb0;
    font-weight: 900;
}

.container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container div {
    border: 0.5px solid #feffb0;
    margin: 1px;
    display: inline-block;
    width: 15px;
    height: 15px;
    transition: 3s ease;
}

.container div:hover {
    transition: 0s;
}
