* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #F8DFD4;
}

.container {
    background-color: #FFEFE8;
    margin: 30px;
    border: 4px solid #637E76;
    border-radius: 20px;
}

.snake {
    background-color: red;
}

.food {
    background-color: green;
    border-radius: 50%;
}
